*{
    margin-top: 20px;
    margin-left: 20px;
}
.container{
    display: flex;
    
}
.main{
    background: #f0efef;
    width: 350px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;

}
.heelsimg{
overflow: hidden;
 border-bottom: 2px solid black;

}